<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Usuarios registrados</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="">
                                        <th> ID </th>
                                        <th> Nombre </th>
                                        <th> Correo </th>
                                        <th> Perfil de usuario </th>
                                        <th> </th>
                                       
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Dakota Rice </td>
                                            <td> dakota@gmail.com  </td>
                                            <td> Administrador </td>
                                            <td><button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="editar()"><i class="material-icons">edit</i></button> </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  