<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form class="form-group col-md-6">
                <div class="input-group">
                    <input type="text" title="Buscar usuario por nombre" name="varNombre" [(ngModel)]="param" class="form-control" 
                    placeholder="Buscar usuario por nombre...">                    
                    <button (click)="buscar(param)" type="submit" class="btn btn-white btn-just-icon">
                        <span class="material-icons">search</span>
                    </button>
                    <button type="submit" class="btn btn-success px-2" (click)="crear()">
                        <span class="material-icons btnIconLg" id="textUser">person_add</span>Crear usuario
                    </button>
                </div>
            </form>  
        </div>
    <div class="col-12">
        <div class="card">
            <!-- Header de card-->  
             <div class="card-header card-header-success">
               <div class="row col-md-12 ">
                   <div class="col-md-12">
                        <h4 class="card-title ">Lista de usuarios</h4>
                   </div>
               </div> 
            </div>
            <!-- Body de card-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <th> Nombre </th>
                            <th> Apellido </th>
                            <th> Teléfono </th>
                            <th> Rol </th>
                            <th> Correo electrónico </th>
                            <th> Fecha de registro</th>
                            <th> Editar</th>
                            <th> Eliminar</th>
                        </thead>
                        <tbody>
                             <tr *ngFor="let pag of paginar,let i = index">
                                <th scope="row" style="display:none;">{{i+1}}</th>
                                <td>{{pag.nombre}}</td>
                                <td>{{pag.apellido}}</td>                
                                <td>{{pag.telefono}}</td>
                                <td>{{convertir(pag.idRol)}}</td>
                                <td>{{pag.correo}}</td>
                                <td>{{pag.fechaR}}</td>                                
                                <td><button mat-raised-button type="submit" class="btn btn-success btn-round btn-just-icon" (click)="editar(pag.idUsuario)"title="Editar Usuario" ><i class="material-icons">manage_accounts</i></button> </td>
                                <td><button mat-raised-button type="submit" class="btn btn-danger btn-round btn-just-icon" (click)="eliminarUsuario(pag.idUsuario)" title="Eliminar Usuario"><i class="material-icons">person_remove</i></button> </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="8" align="center">
                                    <button mat-raised-button (click)="previous(min, max)" type="submit" class="btn btn-success btn-round btn-just-icon"  title="Atras"><i class="material-icons">skip_previous</i></button>
                                    <button mat-raised-button (click)="next(min, max)" type="submit" class="btn btn-success btn-round btn-just-icon"  title="Siguiente"><i class="material-icons">skip_next</i></button>                                
                                </td>
                            </tr>
                        </tbody>
                    </table>                   
                </div>
            </div>
        </div>
    </div>  

    </div>
</div>
  