<div class="main-content">
	<div class="row">
		<div class="col-md-10">
			<div class="card">
				<div class="card-header card-header-success">
					<h4  class="card-title">{{varTitulo}}</h4>                    
				</div>
				<div class="card-body">
					<form method="get">
						<div class="form-group">
							<div class="row" >
								<div class="col-md-4">	
									<h4>Nombre: </h4>							
								    <input  class="form-control" (click)="limpiar(1)"  type="text" title="nombre"  placeholder="" id="nombre" name="nombre" [(ngModel)]="usuarioEdita.nombre">
									<div class="menssageE" id="errorNombre">&nbsp;</div>
								</div>
								<div class="col-md-4">
									<h4>Apellido: </h4>
								    <input  class="form-control" (click)="limpiar(2)"  type="text" title="apellido" placeholder="" name="apellido" id="apellido" [(ngModel)]="usuarioEdita.apellido">
									<div class="menssageE" id="errorApellido">&nbsp;</div>
								</div>
								<div class="col-md-4">  
									<h4>Rol de usuario: </h4>
									<select class="form-control customDropdown" (click)="limpiar(3)"  name="rolUser" title="rol de usuario"  id="rolUser"  [(ngModel)]="usuarioEdita.idRol">
										<option value=0>Seleccione el rol</option>
										<option value=1>Administrador</option>
										<option value=2>Logistica</option>
										<option value=3>Auxiliar contable</option>
										<option value=4>Encargado de reservas</option>
									</select>
									<div class="menssageE" id="errorRol">&nbsp;</div>
								</div>
							</div>
							<div class="row">	
								<div class="col-md-4"> 
								<h4>Tipo de documento: </h4>
								<select class="form-control customDropdown" (click)="limpiar(4)"  title="Tipo de documento" id="tipoDoc" name="tipoDoc" [(ngModel)]="usuarioEdita.tipoDocumento">
								  <option value="0">Seleccione el tipo de documento</option>
								  <option value="1">Cedula ciudadania</option>
								  <option value="2">Tarjeta Identidad</option>
								  <option value="3">Pasaporte</option>
								</select>
								<div class="menssageE" id="errorTipoDoc">&nbsp;</div>
							  </div>
								<div class="col-md-4">
									<h4>Número de documento: </h4>
								    <input  class="form-control" (click)="limpiar(5)"  type="number" title="documento" id="documento"  placeholder=""  name="documento" [(ngModel)]="usuarioEdita.documento">
									<div class="menssageE" id="errorNDoc">&nbsp;</div>
								</div>
								<div class="col-md-4">
									<h4>Teléfono: </h4>
								    <input  class="form-control" (click)="limpiar(6)"  type="number" title="telefono"  placeholder="" id="telefono" name="telefono" [(ngModel)]="usuarioEdita.telefono">
									<div class="menssageE" id="errorNTelefono">&nbsp;</div>
								</div>
							</div>
							<div class="row">
									<div class="col-md-4">
									<h4>Correo electrónico: </h4>
								    <input  class="form-control" (click)="limpiar(7)"  (blur)="validarDC(usuarioEdita.correo)" type="email" placeholder="" id="correo" name="correo" [(ngModel)]="usuarioEdita.correo">
									<div class="menssageE" id="errorCorreo">&nbsp;</div>
								</div>
								<div class="col-md-4">
									<h4>Contraseña: </h4> 
									<input class="form-control" placeholder="" (click)="limpiar(8)"  type="password" id="contrasena" [(ngModel)]="usuarioEdita.contrasena">
									<div class="menssageE" id="errorContrasena">&nbsp;</div>
								</div>
							</div>
							<div class="mt-lg-2 d-flex justify-content-end">
								<button  type="submit" class="btn px-2 btn-danger" title="Cancelar" (click)="cancelar()"><i class="material-icons">cancel</i> Cancelar</button>
								<button type="submit" class="btn px-2 btn-success" title="gurdar" (click)="validarFormulario()"><i class="material-icons">save</i> Guardar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>