<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!--Formulario de reserva-->
            <div class="col-md-11">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Editar reserva</h4>                    
                    </div>
                    <div class="card-body">
                        <form method="get">
                          <div class="form-group ">
                            <h4><strong>Información personal</strong></h4>
                                <div class="row">
                                    <div class="col-4">
                                        <h4>Nombre del titular:</h4>
                                        <input class="form-control" [(ngModel)]="reserva.id_cliente[0].nombre_cliente" name ="nombre" placeholder="Ingrese el nombre del titular...">
                                    </div>
                                    <div class="col-4">
                                        <h4>Apellido del titular:</h4>
                                        <input class="form-control" [(ngModel)]="reserva.id_cliente[0].apellido_cliente" name ="apellido" placeholder="Ingrese el nombre del titular...">
                                    </div>
                                    <div class="col-4">
                                        <h4>Correo electronico:</h4>
                                        <input [(ngModel)]="reserva.id_cliente[0].correo_cliente" placeholder="Ingrese el correo del cliente..." name="correo_cliente" class="form-control" type="email">
                                    </div>
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-4">
                                        <h4>Tipo de documento:</h4>
                                        <select [(ngModel)]="reserva.id_cliente[0].tipo_documento" name="tipo_documento" class="form-control">
                                            <option value="" selected>Seleccione el tipo de  documento</option>
                                            <option value="CC">CC</option>
                                            <option value="TI">TI</option>
                                            <option value="NIT">NIT</option>
                                            <option value="CE">CE</option>
                                            <option value="otro">Otro</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <h4>Número de documento:</h4>
                                        <input  [(ngModel)]="reserva.id_cliente[0].numero_documento" name="numero_documentos" placeholder="Ingrese el número de documento..." class="form-control" type="number">
                                    </div>
                                    <div class="col-4">
                                        <h4>Teléfono:</h4>
                                        <input [(ngModel)]="reserva.id_cliente[0].telefono_cliente" name="telefono_cliente" placeholder="Ingrese el teléfono..." class="form-control" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h4>Teléfono opcional:</h4>
                                        <input [(ngModel)]="reserva.id_cliente[0].telefono2_cliente" name="telefono2_cliente" placeholder="Ingrese el teléfono opcional..." class="form-control" type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4><strong>Información de la reserva</strong></h4>
                                <div class="row">
                                    <div class="col-4">
                                        <h4>Cabaña a reservada:</h4>
                                        <select id="id_cabana" [(ngModel)]="reserva.id_cabana[0].id_cabana" class="form-control" >
                                            <option value="" selected>Seleccione la cabaña</option>
                                            <option *ngFor="let cabana of cabanas" [value]="cabana.id_cabana">{{cabana.nombre_cabana}}</option>
                                        </select>
                                        <!-- <select class="form-control" *ngFor="let cabana of listCabanas, index">
                                            
                                            <option value="index">{{cabana.nombre_cabana}}</option>
                                        </select> -->
                                    </div>
                                    <div  class="col-4">
                                        <h4>Fecha de inicio:</h4>
                                        <input [(ngModel)]="reserva.fecha_inicio" name="fecha_inicio" class="form-control" type="date">
                                    </div>
                                    <div class="col-4">
                                        <h4>Fecha de fin:</h4>
                                        <input  [(ngModel)]="reserva.fecha_fin" name="fecha_fin" class="form-control" type="date">
                                    </div>
                                    
                                </div>
                                <div class="row mt-2 mb-2">
                                    <!-- <div class="col-4">
                                        <h4>Fecha de reserva:</h4>
                                        <input  class="form-control" type="date">
                                    </div> -->
                                </div>
                                <div class="row mt-2 mb-2">   
                                    <div class="col-4">                      
                                        <h4>Valor total:</h4>
                                        <input [(ngModel)]="reserva.valor_reserva" name="valor_reserva" class="form-control" placeholder="Ingrese el valor..." type="text" >
                                    </div> 
                                    <div class="col-4">                      
                                        <h4>Descuento:</h4>
                                        <input (change)="calculaTotalDescuento()" [(ngModel)]="reserva.descuento" name="descuento" class="form-control" placeholder="Ingrese el valor..." type="text" >
                                    </div> 
                                    <div class="col-4">                      
                                        <h4>Valor total con descuento:</h4>
                                        <input [(ngModel)]="total_descuento" name="total_descuento" class="form-control" placeholder="Ingrese el valor..." type="text" >
                                    </div>
                                    
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-4">                      
                                        <h4>Valor abonado:</h4>
                                        <input  class="form-control" placeholder="Ingrese el valor..." type="text" >
                                        
                                    </div> 
                                    <div class="col-4">
                                        <h4>Saldo total:</h4>
                                        <input  class="form-control" placeholder="Ingrese el valor..." type="text" >
                                    </div> 
                                    <div class="col-4">
                                        <h4>Plan de la reserva:</h4>
                                        <select class="form-control">
                                            <option value="" selected>Seleccione el plan</option>
                                            <option value="1">Aquí van los planes</option>
                                        </select>
                                        <!-- <select class="form-control" *ngFor="let plan of listPlanes, index">
                                            
                                            <option value="index">{{plan.nombre_plan}}</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="mt-lg-2 d-flex justify-content-end">
                                    <button  type="submit" class="btn px-2 btn-danger" (click)="redirect()"><i class="material-icons">cancel</i> Cancelar</button>
                                    <button type="submit" class="btn px-2 btn-success" (click)="actualizarReserva()"><i class="material-icons">save</i> Guardar</button>
                                </div>
                            </div>
                            
                            
                        </form>
                    </div>
                </div>
            </div>
            <!--TABLE - Listado de abonos-->
            <div class="col-8">
                <div class="card">
                    <div class="card-header card-header-success row d-flex align-items-center p-2 justify-content-between card-header card-header-success">                      
                            <h4 class="card-tittle">Lista de abonos realizados</h4>
                            <button type="submit" class="btn btn-success  btn-just-icon" tittle="Agregar abono">
                                <span class="material-icons btnIconLg">add_box</span>
                            </button>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Fecha</th>
                                    <th>Valor</th>
                                    <th>Banco</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Fecha</td>
                                        <td>Valor</td>
                                        <td>Banco</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>                
            </div>
    
       
        </div>

    </div>
    
</div>