<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <h4> Cabañas reservadas el día: {{fecha | date}}</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">Reserva 1</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body">
                            <img src="">
                            <p>Detalles de reserva</p>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right">Editar reserva</button>
                        </div>
                    </div>  
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">Reserva 2</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body">
                            <div class="card-img">
                                <img src="">
                                <p>Detalles de reserva</p>
                                <button mat-raised-button type="submit" class="btn btn-success pull-right">Editar reserva</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">Reserva 3</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body">
                            <div class="card-img">
                                <img src="">
                                <p>Detalles de reserva</p>
                                <button mat-raised-button type="submit" (click)="abono()" class="btn btn-success pull-right">Añadir abono</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>   
                
            
        </div>
      
</div>