<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-3">
            <input type="week" class="form-control">
        </div>
        <div id="accordion">
            <div class="card col-md-10">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0 col-md-8">
                  <button class="btn btn-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Lunes
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    Reservas
                    -
                    -
                  </p>
                </div>
              </div>
            </div>
            
        </div>
              
    </div>
      
</div>