<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title mt-0"> Reservas</h4>
                            <p class="card-category"> A continuación encontrará las reservas existentes hasta el momento</p>
                        </div>
                        <div class="card-body table-responsive">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Titular
                                        </th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Hora
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                        <th>
                                            Saldo
                                        </th>
                                        <th>
                                            
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>  1</td>
                                            <td>  1</td>
                                            <td>  1</td>
                                            <td>  1</td>
                                            <td>  1</td>
                                            <td>  1</td>
                                            <td>  <a href=""><i class="material-icons">edit</i></a> </td>
                                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
      
</div>