<div class="main-content">
    <div class="container-fluid">
      <!-- Barra de busqueda-->
      <form>
        <div class="row align-items-center">
          <div class="col-md-3 pr-2">
            <input type="week" class="form-control" [(ngModel)]="numberWeek" name="numberWeek" (change)="getListReservations()">
          </div>
          <div class="col-md-3 pl-2">
            <select [(ngModel)]="seleccion" class="form-control" (change)=" getListReservations()">
              <option selected value="todo">Todo</option>
              <option value="4">Reserva</option>
              <option value="3">Pre-reserva</option>
              
            </select>
          </div>
          <button type="submit" class="btn btn-white btn-just-icon px-1">
            <i class="material-icons">search</i>
          </button>
          <button type="submit" class="btn btn-success px-2" (click)="crearPrereserva()">
            <span class="material-icons btnIconLg">add_box</span> Crear Prereserva
          </button>
        </div>
      </form>
      <div *ngIf="contadorReservas==0" class="alert alert-danger alert-with-icon"> 
        <i class="material-icons" data-notify="icon">error_outline</i>
        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">  <i class="material-icons">close</i></button>
        <span data-notify="message">
            <b>Error:</b> No hay reservas existentes para la semana seleccionada.</span>
      </div>
        <div *ngIf="contadorReservas>=1" id="accordion">
          <!--Card para el día lunes-->
            <div *ngIf="diasSemana[0].listaReservas.length>=1" class="card mb-2 col-10">
              <div class="card-header" id="headingOne">
                <h5 class="card-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Lunes, {{diasSemana[0].fecha}}
                </h5>
                
                <p class="card-category">Presione para ver las reservas del día</p>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <th>Estado</th>
                        <th>Código reserva</th>
                        <th>Documento titular</th>
                        <th>Nombre titular</th>
                        <th>Cabaña</th>
                        <th>Fecha checkin</th>
                        <th>Fecha checkout</th>
                        <th></th>
                      </thead>
                      <tbody *ngFor="let reserva of diasSemana[0].listaReservas">
                        <td *ngIf="reserva.estado==3"><h4><span class="badge badge-danger">Pre-reserva</span></h4></td>
                        <td *ngIf="reserva.estado==4"><h4><span class="badge badge-success">Reserva</span></h4></td>
                        <td>{{reserva.id_reserva}}</td>
                        <td>{{reserva.id_cliente[0].id_cliente}}</td>
                        <td>{{reserva.id_cliente[0].nombre_cliente}}</td>
                        <td>{{reserva.id_cabana[0].nombre_cabana}}</td>
                        <td>{{reserva.fecha_inicio}}</td>
                        <td>{{reserva.fecha_fin}}</td>
                        
                          <td *ngIf="reserva.estado==3"> 
                            <button type="submit"  (click)="editarPreserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="submit"  (click)="link()"  class="btn btn-success btn-just-icon">
                                <i class="material-icons">link</i> 
                            </button>
                          </td>
                          <td *ngIf="reserva.estado==4">
                            <button type="submit"  (click)="editarReserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                              <i class="material-icons">edit</i>
                            </button>
                          </td>
                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
            <!--Card para el día martes-->
            <div *ngIf="diasSemana[1].listaReservas.length>=1" class="card mb-2 mt-2 col-10">
              <div class="card-header" id="headingTwo">
                <h5 class="card-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Martes, {{diasSemana[1].fecha}}
                </h5>
                <p class="card-category">Presione para ver las reservas del día</p>
              </div>
          
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <th>Estado</th>
                        <th>Código reserva</th>
                        <th>Documento titular</th>
                        <th>Nombre titular</th>
                        <th>Cabaña</th>
                        <th>Fecha checkin</th>
                        <th>Fecha checkout</th>
                        <th></th>
                      </thead>
                      <tbody *ngFor="let reserva of diasSemana[1].listaReservas">
                        <td *ngIf="reserva.estado==3"><h4><span class="badge badge-danger">Pre-reserva</span></h4></td>
                        <td *ngIf="reserva.estado==4"><h4><span class="badge badge-success">Reserva</span></h4></td>
                        <td>{{reserva.id_reserva}}</td>
                        <td>{{reserva.id_cliente[0].id_cliente}}</td>
                        <td>{{reserva.id_cliente[0].nombre_cliente}}</td>
                        <td>{{reserva.id_cabana[0].nombre_cabana}}</td>
                        
                        <td>{{reserva.fecha_inicio}}</td>
                        <td>{{reserva.fecha_fin}}</td>
                        <td *ngIf="reserva.estado==3"> 
                          <button type="submit"  (click)="editarPreserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                              <i class="material-icons">edit</i>
                            </button>
                            <button type="submit"  (click)="link()"  class="btn btn-success btn-just-icon">
                              <i class="material-icons">link</i> 
                          </button>
                        </td>
                        <td *ngIf="reserva.estado==4">
                          <button type="submit"  (click)="editarReserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">edit</i>
                          </button>
                          
                        </td>

                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
            <!--Card para el día miercoles-->
            <div *ngIf="diasSemana[2].listaReservas.length>=1" class="card mb-2 mt-2 col-10">
              <div class="card-header" id="headingThree">
                <h5 class="card-title" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Miércoles, {{diasSemana[2].fecha}}
                </h5>
                <p class="card-category">Presione para ver las reservas del día</p>
              </div>
          
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <th>Estado</th>
                        <th>Código reserva</th>
                        <th>Documento titular</th>
                        <th>Nombre titular</th>
                        <th>Cabaña</th>
                        <th>Fecha checkin</th>
                        <th>Fecha checkout</th>
                        <th></th>
                      </thead>
                      <tbody *ngFor="let reserva of diasSemana[2].listaReservas">
                        <td *ngIf="reserva.estado==3"><h4><span class="badge badge-danger">Pre-reserva</span></h4></td>
                        <td *ngIf="reserva.estado==4"><h4><span class="badge badge-success">Reserva</span></h4></td>
                        <td>{{reserva.id_reserva}}</td>
                        <td>{{reserva.id_cliente[0].id_cliente}}</td>
                        <td>{{reserva.id_cliente[0].nombre_cliente}}</td>
                        <td>{{reserva.id_cabana[0].nombre_cabana}}</td>
                        
                        <td>{{reserva.fecha_inicio}}</td>
                        <td>{{reserva.fecha_fin}}</td>
                        <td *ngIf="reserva.estado==3"> 
                          <button type="submit"  (click)="editarPreserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                              <i class="material-icons">edit</i>
                          </button>
                          <button type="submit"  (click)="link()"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">link</i> 
                        </button>
                        </td>
                        <td *ngIf="reserva.estado==4">
                          <button type="submit"  (click)="editarReserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
            <!--Card para el día jueves-->
            <div *ngIf="diasSemana[3].listaReservas.length>=1" class="card mb-2 mt-2 col-10">
              <div class="card-header" id="headingFour">
                <h5 class="card-title" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    Jueves, {{diasSemana[3].fecha}}
                </h5>
                <p class="card-category">Presione para ver las reservas del día</p>
              </div>
          
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <th>Estado</th>
                        <th>Código reserva</th>
                        <th>Documento titular</th>
                        <th>Nombre titular</th>
                        <th>Cabaña</th>
                        <th>Fecha checkin</th>
                        <th>Fecha checkout</th>
                        <th></th>
                      </thead>
                      <tbody *ngFor="let reserva of diasSemana[3].listaReservas">
                        <td *ngIf="reserva.estado==3"><h4><span class="badge badge-danger">Pre-reserva</span></h4></td>
                        <td *ngIf="reserva.estado==4"><h4><span class="badge badge-success">Reserva</span></h4></td>
                        <td>{{reserva.id_reserva}}</td>
                        <td>{{reserva.id_cliente[0].id_cliente}}</td>
                        <td>{{reserva.id_cliente[0].nombre_cliente}}</td>
                        <td>{{reserva.id_cabana[0].nombre_cabana}}</td>
                        <td>{{reserva.fecha_inicio}}</td>
                        <td>{{reserva.fecha_fin}}</td>
                        <td *ngIf="reserva.estado==3"> 
                          <button type="submit"  (click)="editarPreserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                              <i class="material-icons">edit</i>
                          </button>
                          <button type="submit"  (click)="link()"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">link</i> 
                        </button>
                        </td>
                        <td *ngIf="reserva.estado==4">
                          <button type="submit"  (click)="editarReserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
            <!--Card para el día viernes-->
            <div *ngIf="diasSemana[4].listaReservas.length>=1" class="card mb-2 mt-2 col-10">
              <div class="card-header" id="headingFive">
                <h5 class="card-title" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    Viernes, {{diasSemana[4].fecha}}
                </h5>
                <p class="card-category">Presione para ver las reservas del día</p>
              </div>
          
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <th>Estado</th>
                        <th>Código reserva</th>
                        <th>Documento titular</th>
                        <th>Nombre titular</th>
                        <th>Cabaña</th>
                        <th>Fecha checkin</th>
                        <th>Fecha checkout</th>
                        <th></th>
                      </thead>
                      <tbody *ngFor="let reserva of diasSemana[4].listaReservas">
                        <td *ngIf="reserva.estado==3"><h4><span class="badge badge-danger">Pre-reserva</span></h4></td>
                        <td *ngIf="reserva.estado==4"><h4><span class="badge badge-success">Reserva</span></h4></td>
                        <td>{{reserva.id_reserva}}</td>
                        <td>{{reserva.id_cliente[0].id_cliente}}</td>
                        <td>{{reserva.id_cliente[0].nombre_cliente}}</td>
                        <td>{{reserva.id_cabana[0].nombre_cabana}}</td>
                        
                        <td>{{reserva.fecha_inicio}}</td>
                        <td>{{reserva.fecha_fin}}</td>
                        <td *ngIf="reserva.estado==3"> 
                          <button type="submit"  (click)="editarPreserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                              <i class="material-icons">edit</i>
                          </button>
                          <button type="submit"  (click)="link()"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">link</i> 
                        </button>
                        </td>
                        <td *ngIf="reserva.estado==4">
                          <button type="submit"  (click)="editarReserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
            <!--Card para el día sábado-->
            <div *ngIf="diasSemana[5].listaReservas.length>=1" class="card mb-2 mt-2 col-10">
              <div class="card-header" id="headingSix">
                <h5 class="card-title" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    Sábado, {{diasSemana[5].fecha}}
                </h5>
                <p class="card-category">Presione para ver las reservas del día</p>
              </div>
          
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <th>Estado</th>
                        <th>Código reserva</th>
                        <th>Documento titular</th>
                        <th>Nombre titular</th>
                        <th>Cabaña</th>
                        <th>Fecha checkin</th>
                        <th>Fecha checkout</th>
                        <th></th>
                      </thead>
                      <tbody *ngFor="let reserva of diasSemana[5].listaReservas">
                        <td *ngIf="reserva.estado==3"><h4><span class="badge badge-danger">Pre-reserva</span></h4></td>
                        <td *ngIf="reserva.estado==4"><h4><span class="badge badge-success">Reserva</span></h4></td>
                        <td>{{reserva.id_reserva}}</td>
                        <td>{{reserva.id_cliente[0].id_cliente}}</td>
                        <td>{{reserva.id_cliente[0].nombre_cliente}}</td>
                        <td>{{reserva.id_cabana[0].nombre_cabana}}</td>
                        
                        <td>{{reserva.fecha_inicio}}</td>
                        <td>{{reserva.fecha_fin}}</td>
                        <td *ngIf="reserva.estado==3"> 
                          <button type="submit"  (click)="editarPreserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                              <i class="material-icons">edit</i>
                          </button>
                          <button type="submit"  (click)="link()"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">link</i> 
                        </button>
                        </td>
                        <td *ngIf="reserva.estado==4">
                          <button type="submit"  (click)="editarReserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
            <!--Card para el día domingo-->
            <div *ngIf="diasSemana[6].listaReservas.length>=1" class="card mb-2 mt-2 col-10">
              <div class="card-header" id="headingSeven">
                <h5 class="card-title" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                    Domingo, {{diasSemana[6].fecha}}
                </h5>
                <p class="card-category">Presione para ver las reservas del día</p>
              </div>
          
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <th>Estado</th>
                        <th>Código reserva</th>
                        <th>Documento titular</th>
                        <th>Nombre titular</th>
                        <th>Cabaña</th>
                        <th>Fecha checkin</th>
                        <th>Fecha checkout</th>
                        <th></th>
                      </thead>
                      <tbody *ngFor="let reserva of diasSemana[6].listaReservas">
                        <td *ngIf="reserva.estado==3"><h4><span class="badge badge-danger">Pre-reserva</span></h4></td>
                        <td *ngIf="reserva.estado==4"><h4><span class="badge badge-success">Reserva</span></h4></td>
                        <td>{{reserva.id_reserva}}</td>
                        <td>{{reserva.id_cliente[0].id_cliente}}</td>
                        <td>{{reserva.id_cliente[0].nombre_cliente}}</td>
                        <td>{{reserva.id_cabana[0].nombre_cabana}}</td>
                        
                        <td>{{reserva.fecha_inicio}}</td>
                        <td>{{reserva.fecha_fin}}</td>
                        <td *ngIf="reserva.estado==3"> 
                          <button type="submit"  (click)="editarPreserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                              <i class="material-icons">edit</i>
                          </button>
                          <button type="submit"  (click)="link()"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">link</i> 
                        </button>
                        </td>
                        <td *ngIf="reserva.estado==4">
                          <button type="submit"  (click)="editarReserva(reserva.id_reserva)"  class="btn btn-success btn-just-icon">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
            
        </div>
              
    </div>
      
</div>