<div class="main-content">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Editar cabaña</h4>
                    
                </div>
                <div class="card-body">
                    <form method="get">
                      <div class="form-group">
                            <h4>Nombre de la cabaña:</h4>
                            <input  class="form-control" placeholder="Ingrese el nombre de la cabaña...">
                            <div class="row">   
                                <div class="col-5">                      
                                <h4>Valor estadia:</h4>
                                <input class="form-control" placeholder="Ingrese el valor de la estadía por día..." type="text" >
                                </div> 
                                
                                <div class="col-5">
                                <h4>Capacidad maxima:</h4>
                                <input class="form-control" placeholder="" min="1" type="number" >
                                </div>
                            </div>
                            
                            <h4>Detalles de la cabaña:</h4>
                            <textarea class="form-control" rows="5" placeholder="Ingrese los detalles de la cabaña..."></textarea>
                            <div class="mt-lg-2 d-flex justify-content-end">
                            <button type="submit" (click)="redirect()" class="btn px-2 btn-danger"><i class="material-icons">cancel</i> Cancelar</button>
                            <button type="submit" class="btn px-2 btn-success"><i class="material-icons">save</i> Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>