<div class="main-content">
    <div class="row">
        <div class="col-lg-5 col-md-6">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Cabaña House</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <img src="">
                    <p>Detalles de cabaña</p>
                    <button class="btn btn-success">Editar cabaña</button>
                </div>
            </div>  
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Cabaña Natural Suite</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="card-img">
                        <img src="">
                        <p>Detalles de cabaña</p>
                        <button class="btn btn-success">Editar cabaña</button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-6">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Cabaña Suite</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="card-img">
                        <img src="">
                        <p>Detalles de cabaña</p>
                        <button class="btn btn-success">Editar cabaña</button>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Glamping de lujo</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="card-img">
                        <img src="">
                        <p>Detalles de cabaña</p>
                        <button class="btn btn-success">Editar cabaña</button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    
</div>

