<div class="main-content">
    <div class="row">
        <!--FORMULARIO DE LA CABAÑA-->
        <div class="col-md-7">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Crear cabaña</h4>                    
                </div>
                <div class="card-body">
                    <form method="get" #crearForm="ngForm">
                      <div class="form-group">
                            <h4>Nombre de la cabaña:</h4>
                            <input [(ngModel)]="cabana.nombre_cabana" name="nombre_cabana" class="form-control" placeholder="Ingrese el nombre de la cabaña..." required>
                            <div class="row mb-2 mt-2">   
                                <div class="col-5">                      
                                    <h4>Valor estadia:</h4>
                                    <input [(ngModel)]="cabana.valor_cabana" name="valor_cabana" class="form-control" placeholder="Ingrese el valor de la estadía por día..." type="text" required>
                                </div> 
                                <div class="col-5">
                                    <h4>Capacidad maxima:</h4>
                                    <input [(ngModel)]="cabana.capacidad_cabana" name="capacidad_cabana" class="form-control" min="1" type="number" required>
                                </div>
                            </div>                            
                            <h4>Detalles de la cabaña:</h4>
                            <textarea [(ngModel)]="cabana.descripcion_cabana" name="descripcion_cabana" class="form-control" rows="5" placeholder="Ingrese los detalles de la cabaña..." required></textarea>

                            <div class="mt-lg-2 d-flex justify-content-end">
                                <button  (click)="redirect()" type="submit" class="btn px-2 btn-danger"><i class="material-icons">cancel</i> Cancelar</button>
                                <button [disabled] = 'crearForm.form.invalid' (click)="crearCabana()"type="submit" class="btn px-2 btn-success"><i class="material-icons">save</i> Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--CARD DE LAS IMAGENES DE LA CABAÑA-->
        <div class="col-md-5">
            <div class="card">
                <div class="row d-flex pb-1 justify-content-between card-header card-header-success">
                    <h4  class="card-title">Imagenes de la cabaña</h4>
                    <input type="file" class="inputfile" multiple id="file" (change)="cargarImagenes($event.target.files)" accept=".jpg,.png">
                    <label for="file" class="label-icon"><i class="material-icons icon-md">upload_file</i></label>
				</div>
				<div class="card-body">
                    <div class="table-responsive " style="max-width: 100%; height: 380px; overflow: scroll;" >
                        <table class="table table-hover">
                            <thead class="">
                                <th> Imagen   </th>
                                <th> Eliminar </th>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let item of fileToUpload,index" class="">                                    
                                        <td><div style="width: 90%"><img class="d-block w-100 p-3" [src]="item.url_imagen"></div></td>
                                        <td class="d-flex justify-content-center">
                                                <button type="submit" class="btn px-2 btn-danger" (click)="deleteImage(index)"><i class="material-icons">delete</i></button>
                                        </td>
                                       
                                    </tr> 
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>