<div class="main-content">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Crear cabaña</h4>
                    
                </div>
                <div class="card-body">
                    <form method="get">
                      <div class="form-group">
                            <h4>Nombre de la cabaña:</h4>
                            <input [(ngModel)]="cabana.nombre_cabana" class="form-control" placeholder="Ingrese el nombre de la cabaña...">
                            <div class="row">   
                                <div class="col-5">                      
                                <h4>Valor estadia:</h4>
                                <input [(ngModel)]="cabana.valor_cabana" class="form-control" placeholder="Ingrese el valor de la estadía por día..." type="text" >
                                </div> 
                                
                                <div class="col-5">
                                <h4>Capacidad maxima:</h4>
                                <input [(ngModel)]="cabana.capacidad_cabana" class="form-control" placeholder="" min="1" type="number" >
                                </div>
                            </div>
                            
                            <h4>Detalles de la cabaña:</h4>
                            <textarea [(ngModel)]="cabana.descripcion_cabana" class="form-control" rows="5" placeholder="Ingrese los detalles de la cabaña..."></textarea>

                            <div class="mt-lg-2 d-flex justify-content-end">
                            <button  (click)="redirect()" type="submit" class="btn px-2 btn-danger"><i class="material-icons">cancel</i> Cancelar</button>
                            <button (click)="crearCabana()"type="submit" class="btn px-2 btn-success"><i class="material-icons">save</i> Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <input type="file" id="file" (change)="subirImagenes($event.target.files)">
                
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <img class="d-block w-100" [src]="imgURL" *ngIf="imgURL" alt="First slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
        </div>
    </div>
    
</div>