<div class="container w-75 bg-light mt-5 align-content-center  shadow text">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
        </div>
        <div class="col bg-white p-5 rounded-end">
            <div class="mb-4">
                <h3 class="text-center">Recuperar contraseña</h3>
            </div>
            <div class="text-center">
                <img src="../../../../assets/img/logo.png" width="100" alt="" />
            </div>
          
            <form action="#">
                <div class="mb-4">
                    <label for="email" class="form-label">Correo electrónico:</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="correo"/>
                    <div id="errorEmail">&nbsp;</div>
                </div>
                <div class="mb-4"></div>
                <div class="d-grid">
                    <button type="submit"(click)="validarFormulario()" class="btn btn-success btn-block">Recuperar contraseña</button>
                </div>
                <div class="mb-4"></div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-danger btn-block" routerLink="/">Regresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="container w-75 bg-success  shadow text-white text-lg-start">
    <div class="text-center p-3 ">
      <a class="text-white" href="#"> © 2022 Copyright: Proyecto-Univalle</a>
    </div>
</footer>
